
 		body{
 			background-image: url(summer-clearwater-hd-wallpaper-1024x576.jpg);
 			background-repeat: no-repeat;
 			background-size: cover;
 		}
 		table{
 			margin-top: 150px;
 			border:none;
 			background-color: rgba(0,0,0,0.5);

 		}
 		
 		
